/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.75; filter: alpha(opacity = 75);}
#colorbox{outline:0;}
    #cboxContent{margin-top:25px;background:#fff;border-radius: 4px}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px;}
        #cboxTitle{position:absolute; top:-25px; left:0; color:#ccc;}
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc;}
        #cboxLoadingGraphic{background:url(../img/loading.svg) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:15px; margin-top:-19px; border: solid black; border-width: 0 3px 3px 0; padding: 12px; width: 15px; height: 15px; transform: rotate(135deg); -webkit-transform: rotate(135deg); text-indent:-9999px;}
        #cboxPrevious:focus {outline:0;}
        #cboxPrevious:hover{border-color: rgba(0,0,0,0.7)}
        #cboxNext{position:absolute; display: inline-block; top:50%; right:15px; margin-top:-19px; border: solid black; border-width: 0 3px 3px 0; padding: 12px; width: 15px; height: 15px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); text-indent:-9999px;}
        #cboxNext:focus {outline:0;}
        #cboxNext:hover{border-color: rgba(0,0,0,0.7)}
        #cboxClose {
          position: absolute;
          cursor: pointer;
          top: 10px;
          right: 10px;
          width: 20px;
          height: 20px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -webkit-transition: background 0.3s ease;
          -o-transition: background 0.3s ease;
          transition: background 0.3s ease;
          text-indent: -9999px
        }

        #cboxClose:before,
        #cboxClose:after {
          content: '';
          position: absolute;
          margin-top: -1px;
          height: 2px;
          width: 100%;
          top: 50%;
          left: 0;
          background: #000;
          -webkit-transition: background 0.3s ease;
          -o-transition: background 0.3s ease;
          transition: background 0.3s ease;
        }

        #cboxClose:before {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        #cboxClose:after {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        #cboxClose:hover:before,
        #cboxClose:hover:after {
          background: #9b9b9b;
        }
        #cboxClose:hover{background-position:bottom center;}
