h1, h2 {
  margin: 0;
  padding: 0; }

a {
  color: #0f0f0f;
  outline: none; }
  a:visited, a:active, a:link {
    color: #0f0f0f; }

body, html {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #0f0f0f;
  font-weight: 400;
  font-family: "PT Sans", sans-serif, arial, sans-serif; }

.top {
  height: 100%;
  width: 100%;
  display: table; }

.top-head {
  display: table-row;
  background: url(../img/bg.jpg) no-repeat right 50px; }

.top-foot {
  display: table-row;
  height: 1px; }

.logo {
  background: url(../img/logo.png) no-repeat right bottom;
  background-size: 330px 79px;
  padding: 25px 0 0 10%;
  height: 73px;
  width: 356px; }

.delivery {
  background: url(../img/delivery.png) no-repeat;
  position: absolute;
  top: 0;
  right: 3%;
  height: 129px;
  width: 250px; }

.social {
  padding: 80px 0 0px 5%;
  zoom: 1;
  min-height: 23px; }
  .social > div {
    float: left; }
    .social > div + div {
      margin: 0 0 0 10px; }
  .social:before {
    content: "";
    display: table; }
  .social:after {
    content: "";
    display: table;
    clear: both; }

.slogan {
  padding: 80px 0 10px 15%;
  font-size: 48px;
  line-height: 40px; }
  .slogan span {
    background: white;
    padding: 0 0.2em;
    display: inline-block; }
  .slogan .slogan2 {
    margin-left: 0.7em; }

.ecocard-block {
  padding: 7% 0 15px; }

.eco-label {
  display: inline-block;
  width: 138px;
  height: 138px;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  background: #000;
  margin-left: 10%; }

#ecocard-icon {
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-perspective: 500px;
  perspective: 500px; }

@-webkit-keyframes flip {
  0 {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes flip {
  0 {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@media only screen and (min-width: 1400px) {
  .slogan {
    font-size: 56px;
    line-height: 50px; } }

@media only screen and (min-width: 1600px) {
  .slogan {
    font-size: 66px;
    line-height: 60px; } }

@media only screen and (min-width: 1920px) {
  .slogan {
    font-size: 76px;
    line-height: 70px; } }

#tomap {
  display: block;
  padding: 0 0 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px 0; }
  #tomap span {
    font: 700 48px "PT Sans", sans-serif;
    letter-spacing: 6px; }
    #tomap span span:hover {
      border-bottom: 1px dashed #666; }

@media only screen and (max-width: 2500px) {
  .top-head {
    background-size: 2500px 1235px;
    -o-background-size: 2500px 1235px;
    -moz-background-size: 2500px 1235px;
    -webkit-background-size: 2500px 1235px; } }

@media only screen and (max-width: 2500px) and (min-height: 1385.01px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 2500px) {
  .logo {
    padding-top: 87px; }
  .social {
    padding-top: 128.166666667px; }
  .slogan {
    padding-top: 123.5px; } }

@media only screen and (max-width: 1920px) {
  .top-head {
    background-size: 1920px 948.48px;
    -o-background-size: 1920px 948.48px;
    -moz-background-size: 1920px 948.48px;
    -webkit-background-size: 1920px 948.48px; } }

@media only screen and (max-width: 1920px) and (min-height: 1098.49px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 1920px) {
  .logo {
    padding-top: 64.148px; }
  .social {
    padding-top: 97.6973333333px; }
  .slogan {
    padding-top: 100.648px; } }

@media only screen and (max-width: 1680px) {
  .top-head {
    background-size: 1680px 829.92px;
    -o-background-size: 1680px 829.92px;
    -moz-background-size: 1680px 829.92px;
    -webkit-background-size: 1680px 829.92px; } }

@media only screen and (max-width: 1680px) and (min-height: 979.93px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 1680px) {
  .logo {
    padding-top: 54.692px; }
  .social {
    padding-top: 85.0893333333px; }
  .slogan {
    padding-top: 91.192px; } }

@media only screen and (max-width: 1366px) {
  .top-head {
    background-size: 1366px 674.804px;
    -o-background-size: 1366px 674.804px;
    -moz-background-size: 1366px 674.804px;
    -webkit-background-size: 1366px 674.804px; } }

@media only screen and (max-width: 1366px) and (min-height: 824.814px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 1366px) {
  .logo {
    padding-top: 42.3204px; }
  .social {
    padding-top: 68.5938666667px; }
  .slogan {
    padding-top: 78.8204px; } }

@media only screen and (max-width: 1280px) {
  .top-head {
    background-size: 1280px 632.32px;
    -o-background-size: 1280px 632.32px;
    -moz-background-size: 1280px 632.32px;
    -webkit-background-size: 1280px 632.32px; } }

@media only screen and (max-width: 1280px) and (min-height: 782.33px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 1280px) {
  .logo {
    padding-top: 38.932px; }
  .social {
    padding-top: 64.076px; }
  .slogan {
    padding-top: 75.432px; } }

@media only screen and (max-width: 1024px) {
  .top-head {
    background-size: 1024px 505.856px;
    -o-background-size: 1024px 505.856px;
    -moz-background-size: 1024px 505.856px;
    -webkit-background-size: 1024px 505.856px; }
  .ecocard-block {
    padding-top: 3%; } }

@media only screen and (max-width: 1024px) and (min-height: 655.866px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 1024px) {
  .logo {
    padding-top: 28.8456px; }
  .social {
    padding-top: 50.6274666667px; }
  .slogan {
    padding-top: 65.3456px; } }

@media only screen and (max-width: 880px) {
  .top-head {
    background-size: 880px 434.72px;
    -o-background-size: 880px 434.72px;
    -moz-background-size: 880px 434.72px;
    -webkit-background-size: 880px 434.72px; }
  .ecocard-block {
    padding-top: 0; } }

@media only screen and (max-width: 880px) and (min-height: 584.73px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 880px) {
  .logo {
    padding-top: 23.172px; }
  .social {
    padding-top: 43.0626666667px; }
  .slogan {
    padding-top: 59.672px; } }

@media only screen and (max-width: 820px) {
  .logo, .social {
    padding-left: 2%; }
  .slogan {
    padding-left: 5%;
    font-size: 40px;
    line-height: 36px; }
  .delivery {
    right: 0px;
    background-position: 20px 0; } }

@media only screen and (max-width: 820px) {
  .top-head {
    background-size: 820px 405.08px;
    -o-background-size: 820px 405.08px;
    -moz-background-size: 820px 405.08px;
    -webkit-background-size: 820px 405.08px; } }

@media only screen and (max-width: 820px) and (min-height: 555.09px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 820px) {
  .logo {
    padding-top: 20.808px; }
  .social {
    padding-top: 39.9106666667px; }
  .slogan {
    padding-top: 57.308px; } }

@media only screen and (max-width: 730px) {
  .top-head {
    background-size: 730px 360.62px;
    -o-background-size: 730px 360.62px;
    -moz-background-size: 730px 360.62px;
    -webkit-background-size: 730px 360.62px; }
  .ecocard-block {
    padding-top: 22%;
    text-align: center; }
  .eco-label {
    margin-left: 0;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none; } }

@media only screen and (max-width: 730px) and (min-height: 510.63px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 730px) {
  .logo {
    padding-top: 17.262px; }
  .social {
    padding-top: 35.1826666667px; }
  .slogan {
    padding-top: 53.762px; } }

@media only screen and (max-width: 680px) {
  .social {
    padding-top: 80.376px; }
  .slogan {
    padding-top: 53.584px; }
  #tomap {
    padding: 15px 0; } }

@media only screen and (max-width: 680px) {
  .top-head {
    background-size: 680px 335.92px;
    -o-background-size: 680px 335.92px;
    -moz-background-size: 680px 335.92px;
    -webkit-background-size: 680px 335.92px; } }

@media only screen and (max-width: 680px) and (min-height: 515.93px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 680px) and (max-height: 515.92px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 680px) {
  .top-head {
    background-position: right 100px; } }

@media only screen and (max-width: 600px) {
  .social {
    padding-top: 176.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 23.64px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 600px) {
  .top-head {
    background-size: 600px 296.4px;
    -o-background-size: 600px 296.4px;
    -moz-background-size: 600px 296.4px;
    -webkit-background-size: 600px 296.4px; } }

@media only screen and (max-width: 600px) and (min-height: 549.41px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 600px) and (max-height: 549.4px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 525px) {
  .social {
    padding-top: 168.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 20.685px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 525px) {
  .top-head {
    background-size: 525px 259.35px;
    -o-background-size: 525px 259.35px;
    -moz-background-size: 525px 259.35px;
    -webkit-background-size: 525px 259.35px; } }

@media only screen and (max-width: 525px) and (min-height: 512.36px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 525px) and (max-height: 512.35px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 435px) {
  .social {
    padding-top: 161.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 17.139px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 435px) {
  .top-head {
    background-size: 435px 214.89px;
    -o-background-size: 435px 214.89px;
    -moz-background-size: 435px 214.89px;
    -webkit-background-size: 435px 214.89px; } }

@media only screen and (max-width: 435px) and (min-height: 467.9px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 435px) and (max-height: 467.89px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 380px) {
  .social {
    padding-top: 155.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 14.972px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 380px) {
  .top-head {
    background-size: 380px 187.72px;
    -o-background-size: 380px 187.72px;
    -moz-background-size: 380px 187.72px;
    -webkit-background-size: 380px 187.72px; } }

@media only screen and (max-width: 380px) and (min-height: 440.73px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 380px) and (max-height: 440.72px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 330px) {
  .social {
    padding-top: 151.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 13.002px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 330px) {
  .top-head {
    background-size: 330px 163.02px;
    -o-background-size: 330px 163.02px;
    -moz-background-size: 330px 163.02px;
    -webkit-background-size: 330px 163.02px; } }

@media only screen and (max-width: 330px) and (min-height: 416.03px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 330px) and (max-height: 416.02px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 300px) {
  .social {
    padding-top: 147.92px;
    min-height: 48px; }
    .social > div {
      float: none; }
      .social > div + div {
        margin: 5px 0 0 0px; }
  .slogan {
    padding-top: 11.82px; }
  #tomap {
    padding: 10px 0; } }

@media only screen and (max-width: 300px) {
  .top-head {
    background-size: 300px 148.2px;
    -o-background-size: 300px 148.2px;
    -moz-background-size: 300px 148.2px;
    -webkit-background-size: 300px 148.2px; } }

@media only screen and (max-width: 300px) and (min-height: 401.21px) {
  .top, .top-head, .top-foot {
    display: block; }
  .top, .top-foot {
    height: auto; } }

@media only screen and (max-width: 300px) and (max-height: 401.2px) {
  .top {
    display: table;
    height: 100%; }
  .top-head, .top-foot {
    display: table-row; }
  .top-head {
    height: auto; }
  .top-foot {
    height: 1px; } }

@media only screen and (max-width: 600px) {
  .top-head {
    background-position: right 230px; }
  .logo {
    padding: 40px 0 0 0;
    margin: 0 auto; }
  .delivery {
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    background-size: 75%;
    background-position: top center;
    top: 150px; } }

@media only screen and (max-width: 560px) {
  .slogan {
    visibility: hidden;
    padding-left: 5%;
    font-size: 30px;
    line-height: 26px; } }

@media only screen and (max-width: 381px) {
  .logo {
    margin: 0 20px;
    width: auto;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain; }
  .slogan {
    font-size: 24px;
    line-height: 20px; } }

@media only screen and (max-width: 240px) {
  .delivery {
    background-position: 25px 0; } }

@media only screen and (max-width: 767px) {
  .top-foot h1 {
    margin: 0 15px; }
  #tomap span {
    font-size: 36px;
    letter-spacing: 3px; }
    #tomap span span:hover {
      border-bottom: none; } }

.shops {
  margin: 0 auto;
  text-align: center;
  max-width: 840px; }

@media (max-width: 880px) {
  .shops {
    width: 100%; } }

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0 40px 0; }
  .shop:last-of-type {
    padding-bottom: 60px; }
  .shop h2 {
    font: 700 20px "PT Sans", sans-serif; }
  .shop input {
    display: inline-block;
    white-space: normal;
    cursor: pointer;
    background: #FECE46;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    width: 150px;
    height: 90px;
    padding: 10px 0;
    font: 700 24px "PT Sans Narrow", sans-serif;
    color: #000;
    text-transform: uppercase;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    -webkit-transition: -webkit-box-shadow 0.3s ease;
    transition: -webkit-box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
    margin-left: 60px; }
    .shop input:hover {
      -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .5);
      box-shadow: 0 2px 14px rgba(0, 0, 0, .5); }
  .shop img {
    width: 110px; }

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }

.shop-phones {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: right; }
  .shop-phones a {
    text-decoration: none;
    font: 400 24px "PT Sans", sans-serif; }

.shop-pic {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  text-align: left; }

.shop-pic-more {
  display: none; }

.shop-map {
  font: 400 20px "PT Sans", sans-serif;
  display: inline-block;
  text-decoration: none; }
  .shop-map span {
    border-bottom: 1px dashed #666; }

@media (max-width: 880px) {
  .shop {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 60px 0 60px; }
    .shop input {
      margin-left: 0; }
    .shop img {
      width: 180px;
      margin-bottom: 35px; }
    .shop h2 {
      font-size: 24px;
      margin-bottom: 35px; }
    .shop .shop-map {
      font-size: 24px;
      margin-bottom: 35px;
      text-align: center; }
    .shop .shop-phones {
      margin-bottom: 35px; }
    .shop:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -30px;
      width: 60px;
      height: 5px;
      border-radius: 100px;
      background: #000; }
    .shop:last-of-type:after {
      display: none; } }

#map {
  height: 80%;
  position: relative;
  z-index: 10;
  border-top: 1px solid #DBDBDB; }

#price-window {
  display: none; }

.price-inner {
  padding: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  max-width: 280px; }

.price-email-w, .price-name-w {
  border: 1px solid #7f7f7f;
  padding: 10px; }

.price-email-w {
  margin-top: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.price-name-w {
  margin-bottom: 30px;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.price-inner input {
  border: none; }
  .price-inner input[type='text'] {
    width: 100%;
    padding: 0; }
  .price-inner input[type='submit'] {
    background-color: #FBB03B;
    border-radius: 3px;
    padding: 13px;
    color: #ffffff; }
    .price-inner input[type='submit']:hover {
      background-color: #F7931E; }

.map-infowindow {
  white-space: nowrap;
  font-size: 18px;
  font-family: 'pt sans', arial, sans-serif;
  padding: 30px 10px 30px 10px; }
  .map-infowindow h2 {
    font-size: 18px; }

@media only screen and (max-width: 400px) {
  .map-infowindow {
    font-size: 16px;
    padding: 10px 5px 10px 5px; }
    .map-infowindow h2 {
      font-size: 16px; } }

.fb_iframe_widget > span {
  top: -3px; }

.ecocard {
  background: url(../img/tile.png);
  background-size: 44px 98px; }

.ecocard__inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 120px 0 120px;
  text-align: center; }

.ecocard__title {
  font: 700 48px "PT Sans", sans-serif;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 45px; }

.ecocard__percent {
  margin-bottom: 45px; }
  .ecocard__percent img {
    max-width: 673px;
    width: 100%;
    height: auto; }

.percent__text {
  font: 600 56px "Prosto One", cursive;
  color: #d0021b;
  letter-spacing: 7.31px;
  text-transform: uppercase;
  margin: 0; }

.percent__tip {
  font: 400 18px "PT Sans", sans-serif;
  color: #d0021b;
  letter-spacing: 0;
  margin: 0 auto 25px; }

.ecocard__text {
  font: 700 28px "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 0;
  margin-top: 0; }
  .ecocard__text:last-of-type {
    margin-bottom: 50px; }

.ecocard__button {
  display: inline-block;
  width: 100%;
  max-width: 560px;
  height: 55px;
  border-radius: 3px;
  text-align: center;
  font: 700 30px/50px "PT Sans Narrow", sans-serif;
  color: #000;
  background: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease; }
  .ecocard__button:hover {
    -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 14px rgba(0, 0, 0, .5); }
  .ecocard__button:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.ecocard__guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin: 85px auto 55px; }

.eco-guide__add {
  position: relative;
  -ms-flex-preferred-size: 540px;
  flex-basis: 540px;
  height: 430px; }

.guide-add__img {
  display: block;
  position: absolute;
  left: 0;
  top: 85px;
  max-width: 538px;
  height: auto; }

.guide-add__img--mob {
  display: none; }

.guide-add__label,
.guide-show__label {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: top;
  left: 80px;
  width: 320px;
  height: 50px;
  background: #d0021b;
  color: #fff;
  border-radius: 6px;
  font: 700 30px/50px "PT Sans Narrow", sans-serif;
  text-align: center; }
  .guide-add__label:before,
  .guide-show__label:before {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 25px 0 25px;
    border-color: #d0021b transparent transparent transparent;
    left: 50%;
    bottom: -13px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.guide-show__label {
  left: 20px; }

.eco-guide__show {
  position: relative;
  -ms-flex-preferred-size: 360px;
  flex-basis: 360px;
  height: 430px; }

.guide-show__img {
  display: block;
  position: absolute;
  right: 0;
  top: 85px;
  max-width: 258px;
  height: auto; }

@media (max-width: 1000px) {
  .ecocard__inner {
    padding: 30px 15px 50px; }
  .ecocard__title {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px; }
  .ecocard__percent {
    margin-bottom: 15px; }
  .percent__text {
    font-size: 48px;
    letter-spacing: 10px; }
  .ecocard__text {
    font-size: 24px;
    margin-bottom: 20px; }
  .ecocard__guide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 45px auto 0; }
  .eco-guide__add,
  .eco-guide__show {
    position: relative;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden; }
  .guide-add__img {
    display: none; }
  .guide-add__img--mob {
    display: block;
    position: absolute;
    top: 85px;
    left: 50%;
    -webkit-transform: translate(-170px);
    transform: translate(-170px);
    max-width: 249px;
    height: auto; }
  .guide-show__img {
    display: block;
    left: 50%;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px); }
  .guide-add__label {
    position: relative;
    left: auto;
    top: auto; }
  .guide-add__label,
  .guide-show__label {
    display: inline-block;
    position: relative;
    bottom: auto;
    left: auto;
    max-width: 220px;
    width: 100%;
    height: auto;
    line-height: 30px;
    padding: 15px 15px;
    margin-bottom: 25px; }
    .guide-add__label:before,
    .guide-show__label:before {
      border-width: 17px 25px 0 25px;
      border-color: #d0021b transparent transparent transparent;
      top: auto;
      bottom: -13px; } }
