// Fonts
$pt-sans: 'PT Sans', sans-serif;
$pt-sans-narrow: 'PT Sans Narrow', sans-serif;
$opensans: 'Open Sans', sans-serif;
$prosto-one: 'Prosto One', cursive;

//Font weights
$normal: 400;
$semi-bold: 600;
$bold: 700;


//Colors
$color-black: #000;